<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= tag %></title>
    <% include ../../partials/head.ejs %>
    
</head>
<body>


    <div class="navbar">
            <a href="/index"><img id="back" src="https://img.icons8.com/small/50/000000/long-arrow-left.png"></a>
            <a href="/index"> <img id="src" src="https://img.icons8.com/ios-filled/50/000000/search.png"> </a>
    </div>

    <div class="header">
        <h1>Artifact is... 
        <br> <%= tag %>. </h1>
        <br>
        <br>
    </div>
    <% for(let i=0; i < currentData.length; i++) { %>
    <div class="show">
        <a href="/artifact/id/<%=currentData[i].id%>"><img class="showImg" src="<%= currentData[i].img%>"/></a>
        <a href="/artifact/id/<%=currentData[i].id%>"><img class="showImg" src="<%= currentData[i].img2%>"/></a>
        <a href="/artifact/id/<%=currentData[i].id%>"><img class="showImg" src="<%= currentData[i].img3%>"/></a>
    </div>
    <% } %>

    
    
</body>
</html>